/* Misc styles to tweak Bootstrap */

th, a.page-link {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

th:hover {
    background-color: #F2F2F2;
}

th.active1, th.active-1 {
    background-color: #E8E8E8;
}

th.active1::after, th.active-1::after {
    color: #666666;
    text-align: right;
    float:right;
}

th.active1::after {
    content: " ▲";
}

th.active-1::after {
    content: " ▼";
}